body {
  background-color: white;
}

.container {
    text-align:left;
    width: 50%;
    height: 70vh;
    border: solid #6a708e 2px ;
    margin: auto;
    padding: 30px;
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
  }

.text-1 {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.stylish-text {
    font-size: 30px;
    font-weight: 500px;
    color: blueviolet;
}

.stylish-text-1 {
  font-size: 20px;
  font-weight: 500px;
  color: blueviolet;
}

.rectangle-1 {
    width: auto;
    height: auto;
    margin: auto;
    padding: 10px;
    background-color:antiquewhite
}

