.border-1 {
    width: 150px;
    height: 100px;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    background-color: red;
}

.border-2 {
    width: 150px;
    height: 100px;
    margin: 15px auto;
    padding: 10px;
    border-radius: 15px;
    border: solid black 2px ;
}


