body {
    background-color: cornsilk;
}

.main_container {
    position: relative;
    height: 100%;
    width: 90%;
    left: 100px;
    right: 100px;
}

.text-style {
    position:relative;
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 2px;
    border: 2px solid black;
}