body {
    background-color: whitesmoke;
}

.main-content {
    width: 700px;
    height: 700px;
    min-height: 50px;
    border: 3px solid black;
    margin: 10px auto;
    position: relative;
    background-color: rgb(222, 222, 222);

    div {
        width:  100px;
        height: 100px;
        position: absolute;
    }
}

.shape-1 {
    background-color: red;
    left: 50px;
    top: 50px;
}

.shape-2 {
    background-color: green;
    left: 100px;
    top: 100px;
}

.shape-3 {
    background-color: blue;
    left: 150px;
    top: 150px;
}

.shape-4 {
    background-color: yellow;
    left: 200px;
    top: 200px;
}