@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:&display=swap");
body {
  background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Crimson Pro", serif;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  max-width: 1150px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}
nav .menu_list {
  display: inline-block;
  list-style-type: none;
}
nav .menu_list_item {
  display: inline-block;
  margin-right: 20px;
}
nav a {
  text-decoration: none;
  color: #8d8d8d;
}
nav .menu_list_item:first-child a {
  color: #33ccff;
}
nav .menu_list_item:hover a {
  color: #232323;
}

.welcome_page {
  background-color: black;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.welcome_page .welcome_page_content {
  line-height: 2.5;
  padding: 250px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.welcome_page .main_text {
  font-size: 40px;
  line-height: 3;
}
.welcome_page .button_2, .welcome_page .button_1 {
  text-decoration: none;
  text-align: center;
  color: white;
  border-radius: 4px;
  padding: 20px 40px;
  margin: 10px;
}
.welcome_page .button_1 {
  border: 2px solid white;
}
.welcome_page .button_2 {
  border: 2px solid #33ccff;
  background-color: #33ccff;
}
.welcome_page .down_icon {
  position: absolute;
  bottom: 25px;
}

.history_page {
  background-color: #f4f4f4;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.history_page .history_page_content {
  color: black;
  padding: 150px 0;
}
.history_page p {
  color: #637988;
  margin-top: 30px;
  font-size: 12px;
  line-height: 1.5;
}

.separator {
  margin-top: 30px;
}

.artwork_page {
  background-color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.artwork_page .shape_3, .artwork_page .shape_2, .artwork_page .shape_1 {
  height: 560px;
  width: 320px;
  background-color: black;
}
.artwork_page .shape_1 {
  margin-right: 320px;
}
.artwork_page .shape_2 {
  margin-right: 320px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.artwork_page .shape_2 .inner_shape {
  height: 60%;
  color: white;
  background-color: #04a3ce;
}
.artwork_page .shape_2 .inner_shape p {
  font-size: 12px;
  line-height: 1.5;
  margin: 60px 0;
}
.artwork_page .shape_2 .inner_shape img {
  margin: 20px;
}
.services {
  background-color: #f4f4f4;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.services .services_content_3, .services .services_content_2, .services .services_content_1 {
  background-color: white;
  width: 370px;
  height: 400px;
  margin-top: 150px;
  margin-bottom: 150px;
  margin-right: 30px;
}
.services .services_content_3 img, .services .services_content_2 img, .services .services_content_1 img {
  display: block;
  margin: auto;
  margin-top: 60px;
}
.services .services_content_1:hover,
.services .services_content_2:hover,
.services .services_content_3:hover {
  box-shadow: 5px 4px 7px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 4px 7px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 4px 7px 0px rgba(0, 0, 0, 0.75);
}
.services p {
  text-align: center;
  margin: 40px;
}
.services .header {
  font-size: 20px;
  color: black;
}
.services .header_content {
  color: #637988;
}

.line_separator {
  height: 3px;
  width: 80px;
  margin: 40px auto;
  background-color: #33ccff;
}

.clients {
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.clients h3 {
  margin-top: 80px;
}
.clients p {
  margin: 50px;
}
.clients img {
  margin: 60px;
}
.clients .text-style {
  font-size: 12px;
  color: #848484;
  font-family: "Crimson Pro";
  font-style: italic;
}

.about_page {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about_page .contact_us, .about_page .about_us {
  width: 580px;
  height: 500px;
  border: 1px solid white;
  margin: 30px;
  padding: 50px;
}
.about_page .about_us {
  text-align: center;
}
.about_page .about_us p {
  font-size: 14px;
  line-height: 2;
}
.about_page .contact_us input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  background-color: black;
  margin: 30px 0;
}
.about_page .contact_us label {
  margin: 30px 0;
}
.about_page .contact_us p {
  text-align: right;
}
.about_page .contact_us a {
  text-decoration: none;
  color: #33ccff;
}
.about_page .contact_us a:hover {
  color: white;
}
.about_page .contact_us h3 {
  text-align: center;
}

footer {
  background-color: #33ccff;
  color: white;
  padding: 60px;
  margin: auto;
}