@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:&display=swap');


body {
    background-color: #fff;
}

$mainColor: #33ccff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Crimson Pro', serif;
    font-family: 'Montserrat', sans-serif; 
}

.container {
    width: 100%;
    max-width: 1150px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;

    .menu_list {
        display: inline-block;
        list-style-type: none;
    }

    .menu_list_item {
        display: inline-block;
        margin-right: 20px;
    }

    a {
        text-decoration: none;
        color: #8d8d8d;
    }

    .menu_list_item:first-child {
        a {
            color: $mainColor;
        }
    } 
    .menu_list_item:hover {
        a{
            color: #232323;
        }
    }

}

.welcome_page {
    background-color: black;
    color: white;
    justify-content: center;
    text-align: center;

    .welcome_page_content {
        line-height: 2.5;
        padding: 250px 0;
        justify-content: center;
    }

    .main_text {
        font-size: 40px;
        line-height: 3;
    }

    %button_property {
        text-decoration: none;
        text-align: center;
        color: white;
        border-radius: 4px;
        padding: 20px 40px;
        margin: 10px; 
    }
    .button_1 {
        @extend %button_property;
        border: 2px solid white;
    }

    .button_2 {
        @extend %button_property;
        border: 2px solid $mainColor;
        background-color: $mainColor;
    }

    .down_icon {
       position: absolute;
       bottom: 25px;
    }
}

.history_page {
    background-color: #f4f4f4;
    justify-content: center;
    text-align: center;

    .history_page_content {
        color: black;
        padding: 150px 0;
    }


    p {
        color: #637988;
        margin-top: 30px;
        font-size: 12px;
        line-height: 1.5;
    }
}

.separator {
    margin-top: 30px;
}

.artwork_page {
    background-color: white;
    text-align: center;
    display: flex;

    %shape_property {
        height: 560px;
        width: 320px;
        background-color: black;
    }

    .shape_1 {
        margin-right: 320px;
        @extend %shape_property;
    }

    .shape_2 {
        margin-right: 320px;
        @extend %shape_property;
        background-color: black;
        display: flex;
        flex-direction: column-reverse;

        .inner_shape {
            height: 60%;
            color: white;
            background-color: #04a3ce;

            p {
                font-size: 12px;
                line-height: 1.5;
                margin: 60px 0;
            }

            img {
                margin: 20px;
            }
        }

    }

    .shape_3 {
        @extend %shape_property;
    }
}

.services {
    background-color: #f4f4f4;
    justify-content: center;
    display: flex;

    %services_content_property {
        background-color: white;
        width: 370px;
        height: 400px;
        margin-top: 150px;
        margin-bottom: 150px;
        margin-right: 30px;
        
        img {
            display: block;
            margin: auto;
            margin-top: 60px;
        }
    }

    .services_content_1 {
        @extend %services_content_property;

    }

    .services_content_2 {
        @extend %services_content_property;
    }

    .services_content_3 {
        @extend %services_content_property;
    }

    %services_hover {
        box-shadow: 5px 4px 7px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 5px 4px 7px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 5px 4px 7px 0px rgba(0,0,0,0.75);
    }

    .services_content_1:hover, 
    .services_content_2:hover, 
    .services_content_3:hover {
        @extend %services_hover;
    }
    

    p {
        text-align: center;
        margin: 40px;
    }

    .header {
        font-size: 20px;
        color: black;
    }

    .header_content {
        color: #637988;
    }      
}

.line_separator {
    height: 3px;
    width: 80px;
    margin: 40px auto;
    background-color: $mainColor;
}

.clients {
    background-color: white;
    justify-content: center;
    text-align: center;

    h3 {
        margin-top: 80px;
    }

    p {
        margin: 50px;
    }

    img {
        margin: 60px;
    }

    .text-style {
        font-size: 12px;
        color: #848484;
        font-family: 'Crimson Pro';
        font-style: italic;
    }
}

.about_page {
    background-color: black;
    display: flex;
    color: white;
    justify-content: center;

    %form_property {
        width: 580px;
        height: 500px;
        border: 1px solid white;
        margin: 30px;
        padding: 50px;
    }

    .about_us {
        text-align: center;
        @extend %form_property;

        p {
            font-size: 14px;
            line-height: 2;
        }
    }

    .contact_us {
        @extend %form_property;

        input {
            width: 100%;
            outline: none;
            border: none;
            border-bottom: 1px solid white;
            background-color: black;
            margin: 30px 0;
        }
    
        label {
            margin: 30px 0;
        }

        p {
            text-align: right;
        }

        a {
            text-decoration: none;
            color: $mainColor;
        }
    
        a:hover {
            color: white;
        } 

        h3 {
            text-align: center;
        }
    }

}

footer {
    background-color: $mainColor;
    color: white;
    padding: 60px;
    margin: auto;
}
