@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif; 

}


.main_container {
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
}

.main_container_schedule_page {
    width: 100%;
    background-image: url(images/background-1.png);
    //height: 100vh;
}

.main_container_contact_page {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.main_container_account_page {
    width: 100%;
    height: 100vh;
    background-color: white;
}

%menu_property {
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 9%;

    ul {
        display: inline-block;
        list-style-type: none;

        li {
            margin: 10px;
            display: inline-block;
        }

        a {
            color: white;
            text-decoration: none;
        }

        a:hover {
            color: #fdce09;
        }

        i {
            margin-left: 5px;
        }
    }

    .icons {
        i {
            color: white;
            margin: 10px;
            cursor: pointer;
        }
    }
}

.black_navigation_background {
    @extend %menu_property;
    background-color: black;
}

.header {
    @extend %menu_property;
}

.live_now {
    border: transparent;
    position: relative;
    width: 200px;
    padding: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fdce09;
    top: 70%;
    left: 40%;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.schedule_container {
    width: 100%;
   // height: 80vh;

    h4 {
        margin-top: 20px;
        margin-left: 60px;
        margin-bottom: 20px;
        color: #fff;
        font-weight: bold;
    }

    .schedule_box {
        display: flex;
        justify-content: space-around;
        width: 100%;
        min-height: 250px;

        %frame_settings {
            margin-left: 10px;
            margin-top: 20px;
            width: 22%;
            height: 200px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: transform .2s; /* Animation */
        }
        .frame_1, .frame_2, .frame_3, .frame_4 {
            @extend %frame_settings;
        }

        .frame_1:hover, .frame_2:hover, .frame_3:hover, .frame_4:hover {
            border-radius: 5%;
            border: 1px solid black;
            transform: scale(1.1);
            background-color: #fdce09;
        }
    }
}

.second_page {
    width: 100%;
    background-color: black;
}

%form_property {
    form {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        padding: 2vw 4vw;
        width: 90%;
        max-width: 600px;
        border-radius: 10px;
        

        h3 {
            color: #555;
            font-weight: 800;
            margin-bottom: 20px;
        }

        input, textarea {
            border: 0;
            border-radius: 20px;
            margin: 10px 0;
            padding: 20px;
            outline: none;
            resize: none;
            background-color: #f5f5f5;
        }

        button {
            padding: 15px;
            background-color: #fdce09;
            color: #fff;
            border: 0;
            outline: none;
            cursor: pointer;
            width: 150px;
            margin: 20px auto 0;
            border-radius: 30px;                
        }
    }
}

.contact_form_container {

    .contact_form {
        display: flex;
        width: 100%;
        height: 100vh;
        background-color: #8BC6EC;
        background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
       


        align-items: center;
        justify-content: center;

        @extend %form_property;
    }

}

.dropdown{
    position: relative;
    display: inline-block;

    a {
        color: black;
        padding: 5px 10px;
        text-decoration: none;
        display: block;
    }

    .dropdown_menu {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        cursor: pointer;

        a {
            display: block;
            position: relative;
            color: #232323;
        }

    }
}

.dropdown:hover {
    .dropdown_menu {
        display: block;
    }
}

.user_dropdown {
    display: inline-block;


    .user_dropdown_menu {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        cursor: pointer;

        a {
            display: block;
            position: relative;
            color: #232323;
        }
    }
}

.user_dropdown:hover {
    .user_dropdown_menu {
        display: block;
    }
}

.account_container {
    
    .autorization_form {
        display: flex;
        width: 100%;
        height: 100vh;
        background-color: #8BC6EC;
        background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%); 
        align-items: center;
        justify-content: center;
    }

    form {
        max-width: 650px;
    }
    input {
        text-align: center;
    }
    @extend %form_property;

    ::placeholder {
        text-align: center;
    }   
}

@media (max-width: 600px) {
    .logo {
        text-align: center;
    }

    .black_navigation_background {
        width: 100%;
        display: inline-block;
    }

    .header {
        display: inline-block;
    }

    .icons {
        text-align: center;
    }

    .live_now {
       display: none;
    }

    .schedule_container {

        .schedule_box {
            flex-direction: row;
            text-align: center;

            %frame_settings {
                margin-left: 10px;
                margin-top: 20px;
                width: 60%;
                height: 200px;
                background-color: white;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                transition: transform .2s; /* Animation */
            }
            .frame_1, .frame_2, .frame_3, .frame_4 {
                @extend %frame_settings;
            }
        }
    }

    .second_page {
        display: inline-block;
        justify-content: center;
        align-items: center;
    }
}



