@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.main_container {
  width: 100%;
  height: 100vh;
  background-image: url(images/background.png);
}

.main_container_schedule_page {
  width: 100%;
  background-image: url(images/background-1.png);
}

.main_container_contact_page {
  width: 100%;
  height: 100vh;
  background-color: white;
}

.main_container_account_page {
  width: 100%;
  height: 100vh;
  background-color: white;
}

.header, .black_navigation_background {
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.2rem 9%;
}
.header ul, .black_navigation_background ul {
  display: inline-block;
  list-style-type: none;
}
.header ul li, .black_navigation_background ul li {
  margin: 10px;
  display: inline-block;
}
.header ul a, .black_navigation_background ul a {
  color: white;
  text-decoration: none;
}
.header ul a:hover, .black_navigation_background ul a:hover {
  color: #fdce09;
}
.header ul i, .black_navigation_background ul i {
  margin-left: 5px;
}
.header .icons i, .black_navigation_background .icons i {
  color: white;
  margin: 10px;
  cursor: pointer;
}

.black_navigation_background {
  background-color: black;
}

.live_now {
  border: transparent;
  position: relative;
  width: 200px;
  padding: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fdce09;
  top: 70%;
  left: 40%;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.schedule_container {
  width: 100%;
}
.schedule_container h4 {
  margin-top: 20px;
  margin-left: 60px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: bold;
}
.schedule_container .schedule_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  min-height: 250px;
}
.schedule_container .schedule_box .frame_1, .schedule_container .schedule_box .frame_2, .schedule_container .schedule_box .frame_3, .schedule_container .schedule_box .frame_4 {
  margin-left: 10px;
  margin-top: 20px;
  width: 22%;
  height: 200px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  /* Animation */
}
.schedule_container .schedule_box .frame_1:hover, .schedule_container .schedule_box .frame_2:hover, .schedule_container .schedule_box .frame_3:hover, .schedule_container .schedule_box .frame_4:hover {
  border-radius: 5%;
  border: 1px solid black;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #fdce09;
}

.second_page {
  width: 100%;
  background-color: black;
}

.account_container form, .contact_form_container .contact_form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}
.account_container form h3, .contact_form_container .contact_form form h3 {
  color: #555;
  font-weight: 800;
  margin-bottom: 20px;
}
.account_container form input, .contact_form_container .contact_form form input, .account_container form textarea, .contact_form_container .contact_form form textarea {
  border: 0;
  border-radius: 20px;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  resize: none;
  background-color: #f5f5f5;
}
.account_container form button, .contact_form_container .contact_form form button {
  padding: 15px;
  background-color: #fdce09;
  color: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}

.contact_form_container .contact_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}
.dropdown .dropdown_menu {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  cursor: pointer;
}
.dropdown .dropdown_menu a {
  display: block;
  position: relative;
  color: #232323;
}

.dropdown:hover .dropdown_menu {
  display: block;
}

.user_dropdown {
  display: inline-block;
}
.user_dropdown .user_dropdown_menu {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  cursor: pointer;
}
.user_dropdown .user_dropdown_menu a {
  display: block;
  position: relative;
  color: #232323;
}

.user_dropdown:hover .user_dropdown_menu {
  display: block;
}

.account_container .autorization_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.account_container form {
  max-width: 650px;
}
.account_container input {
  text-align: center;
}
.account_container ::-webkit-input-placeholder {
  text-align: center;
}
.account_container ::-moz-placeholder {
  text-align: center;
}
.account_container :-ms-input-placeholder {
  text-align: center;
}
.account_container ::-ms-input-placeholder {
  text-align: center;
}
.account_container ::placeholder {
  text-align: center;
}

@media (max-width: 600px) {
  .logo {
    text-align: center;
  }

  .black_navigation_background {
    width: 100%;
    display: inline-block;
  }

  .header {
    display: inline-block;
  }

  .icons {
    text-align: center;
  }

  .live_now {
    display: none;
  }

  .schedule_container .schedule_box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
  }
  .schedule_container .schedule_box .frame_1, .schedule_container .schedule_box .frame_2, .schedule_container .schedule_box .frame_3, .schedule_container .schedule_box .frame_4 {
    margin-left: 10px;
    margin-top: 20px;
    width: 60%;
    height: 200px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    /* Animation */
  }
  .second_page {
    display: inline-block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}