body {
    background-color: rgb(183, 183, 183);
}

table {
    width: 100%;
}

.content_table {
    border-collapse: collapse;
    margin: 25px 0;
}

.content_table th {
    padding: 15px;
    border: 1px solid black;
    text-align: left;
}
.content_table td {
    padding: 15px;
    border: 1px solid black;
}

.content_table tr {
    border: 1px solid black;
}