body {
    background-color: white;
}

.main-con {
    width: 1050px;
    height: 500px;
    border: 2px solid black;
    background-color: silver;
    margin: 10px auto;
    position: relative;

    img {
        position: absolute;
    }

    .corner-imgs {
        img {
            width: 200px;
            height: 200px;
        }

        .img-1 {
            left: 0px;
        }

        .img-2 {
            right: 0px;
        }

        .img-3 {
            right: 0px;
            bottom: 0px;
        }

        .img-4 {
            left: 0px;
            bottom: 0px;
        }
    }

    .inner-imgs {
        img {
            width: 150px;
            height: 150px;
        }

        .img-5 {
            left: 270px;
            top: 40px;
        }
        .img-6 {
            left: 290px;
            top: 80px;
            z-index: 1;
        }
        .img-7 {
            left: 310px;
            top: 120px;
            z-index: 2;
        }
        .img-8 {
            left: 330px;
            top: 160px;
            z-index: 3;
        }

        .img-9 {
            left: 560px;
            top: 40px;
        }
        .img-10 {
            left: 540px;
            top: 80px;
            z-index: 1;
        }
        .img-11 {
            left: 520px;
            top: 120px;
            z-index: 2;
        }
        .img-12 {
            left: 500px;
            top: 160px;
            z-index: 3;
        }
    }
}

