body {
  background-color: white;
}

.main-con {
  width: 1050px;
  height: 500px;
  border: 2px solid black;
  background-color: silver;
  margin: 10px auto;
  position: relative;
}
.main-con img {
  position: absolute;
}
.main-con .corner-imgs img {
  width: 200px;
  height: 200px;
}
.main-con .corner-imgs .img-1 {
  left: 0px;
}
.main-con .corner-imgs .img-2 {
  right: 0px;
}
.main-con .corner-imgs .img-3 {
  right: 0px;
  bottom: 0px;
}
.main-con .corner-imgs .img-4 {
  left: 0px;
  bottom: 0px;
}
.main-con .inner-imgs img {
  width: 150px;
  height: 150px;
}
.main-con .inner-imgs .img-5 {
  left: 270px;
  top: 40px;
}
.main-con .inner-imgs .img-6 {
  left: 290px;
  top: 80px;
  z-index: 1;
}
.main-con .inner-imgs .img-7 {
  left: 310px;
  top: 120px;
  z-index: 2;
}
.main-con .inner-imgs .img-8 {
  left: 330px;
  top: 160px;
  z-index: 3;
}
.main-con .inner-imgs .img-9 {
  left: 560px;
  top: 40px;
}
.main-con .inner-imgs .img-10 {
  left: 540px;
  top: 80px;
  z-index: 1;
}
.main-con .inner-imgs .img-11 {
  left: 520px;
  top: 120px;
  z-index: 2;
}
.main-con .inner-imgs .img-12 {
  left: 500px;
  top: 160px;
  z-index: 3;
}