.border-1 {
    border-radius: 50px/15px;
    background: #800000;
    padding: 20px;
    width: 200px;
    height: 150px;
    margin: 10px;
    border: solid black 2px;
}

.border-2 {
    border-radius: 15px/50px;
    background: #800000;
    padding: 20px;
    width: 200px;
    height: 150px;
    margin: 10px;
    border: solid black 2px;
}

.border-3 {
    border-radius: 50%;
    background: #800000;
    padding: 20px;
    width: 200px;
    height: 150px;
    margin: 10px;
    border: solid black 2px;
}