.border-1 {
    border-radius: 15px 50px 30px 5px;
    background: #800000;
    padding: 20px;
    width: 200px;
    height: 150px;
    margin: 10px;
}

.border-2 {
    border-radius: 15px 50px 30px;
    background: #800000;
    padding: 20px;
    width: 200px;
    height: 150px;
    margin: 10px;
}

.border-3 {
    border-radius: 15px 50px;
    background: #800000;
    padding: 20px;
    width: 200px;
    height: 150px;
    margin: 10px;
}