.text-style-1 {
    color:  green;
    font-size: 30px;
}

.container-1 {
    width: 500px;
    height: 200px;
    margin: auto;
    padding: 10px;
    background-color:antiquewhite;
}

.container-2 {
    width: 100%;
    height: 500px;
    margin: auto;
    padding: 10px;
    background-color:black;
}

.rectangle-1 {
    width: 150px;
    height: 130px;
    background-color: aqua;
}

.circle-1 {
    background: lightblue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}