body {
    background-color: white;
}

.content-table {
    border: 1px solid black;
    margin: auto;
    width: 400px;
    height: 400px;
}

.content-table td, 
.content-table tr {
    border: 1px solid black;
    height: 10px;
    width: 10px;
}