body {
    background-color: white;
}

header {
    .header-div {
        width: 99%;
        height: 70px;
        padding: 10px;
        background: green;
    }

    h1 {
        text-align: left;
        color: white;
    }
}

nav {
    float: left;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    li {
        
        a {
            display: block;
            width: 100px;
            background-color: #33b5e6;
            text-decoration: none;
            color: white;
            text-align: center;
            padding: 10px;
            margin-left: 20px;
            margin-top: 10px;
        }
        
        a:hover {
            background-color: #555;
            color: white;
        }
    }

}

article {
    float: left;
    margin-left: 50px;
    width: 70%;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

footer {
    .footer-div {
        width: 99%;
        height: 70px;
        background: green;
    }

    p {
        text-align: center;
        font-size: 32px;
        color: white;
    }
}



