body {
    background-color: aliceblue;
}

.content-table {
    border: 1px solid black;
    margin: 25px 0;
    width: 50%;
    height: 200px;
    margin: auto;
}

.content-table th {
    padding: 15px;
    border: 1px solid black;
    text-align: center;
}

.content-table td, 
.content-table tr {
    border: 1px solid black;
    height: 20px;;
}